body {
    font-family: Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: rgb(174, 250, 231);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    overflow-y: auto;
    width: 600px; 
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: 2px solid #007bff;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#memeContainer {
    margin-top: 20px;
}

#memeImage {
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

.container::-webkit-scrollbar {
    width: 12px;
}

.container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
